/*
*_*_*_*_*_*_*Font*_*_*_*_*_*_*
*/
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
/*
*_*_*_*_*_*_*Global*_*_*_*_*_*_*
*/
body {
  font-family: "Architects Daughter", cursive;
  background-color: #ff7900;
}
.btn-dark {
  color: #fff;
  background-color: #343a40;
  border: 2px solid white;
}

.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}
.red {
  color: red;
}
.green {
  color: green;
}
.display-none {
  display: none;
}
header h1 span {
  color: #343a40;
  font-size: 1.2em;
}
/*
*_*_*_*_*_*_*HEADER*_*_*_*_*_*_*
*/
header {
  margin-bottom: 20px;
  padding: 5px;
  text-align: center;
  font-size: 18px;
  color: white;

  /*border-bottom: 2px solid white;
    background-image: url(../img/fond.jpg);
  background-color: #ff7900;
  background-blend-mode: multiply;
  */
}
/*
*_*_*_*_*_*_*MAIN*_*_*_*_*_*_*
*/
main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 75px);
}
/*
*_*_*_*_*_*_*Game-Option*_*_*_*_*_*_*
*/
#gameMode {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 3;
  margin: auto 0px;
}
#info {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
  margin: auto 0px;
}
#gameMode ul {
  display: flex;
  justify-content: space-around;
}

/* buttons style */
#lvl-choice span,
#winLose span,
#gameStatus span {
  display: inline-block;
  width: 150px;
  padding: 5px 15px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}
/*
*_*_*_*_*_*_*APP*_*_*_*_*_*_*
*/
#app {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 9;
  border: 2px solid white;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
}
#scoring {
  display: flex;
  flex-direction: column;
}
#scoring li {
  font-size: 18px;
}
#score {
  font-size: 1.3em;
}
#bestScore {
  font-size: 1.3em;
}
#winLose {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#win {
  margin-right: 10px;
}
#lose {
  margin-left: 10px;
}
#app h4 {
  margin: 30px 0px;
  font-size: 24px;
  text-align: center;
}
#app h3 {
  margin-top: 50px;
  font-size: 32px;
  letter-spacing: 20px;
  text-align: center;
}

/*
*_*_*_*_*_*_*History*_*_*_*_*_*_*
*/
#history-bloc {
  grid-column-start: 10;
  grid-column-end: 12;
  grid-row-start: 3;
}
#history-list {
  overflow-y: scroll;
  color: white;
  height: 50vh;
}
/*
*_*_*_*_*_*_*Media Queries*_*_*_*_*_*_*
*/
@media (min-width: 320px) and (max-width: 1024px) {
  #gameMode {
    grid-column-start: 2;
    grid-column-end: 12;
    display: flex;
    justify-content: space-between;
  }
  #gameMode span {
    width: 150px;
    font-size: 0.9em;
    margin: 5px 0px;
  }
  #lvl-choice {
    flex-direction: column;
  }
  #gameStatus {
    flex-direction: column;
  }
  #info {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 0.7em;
  }
  #app {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 4;
    grid-row-end: 9;
  }
  #history-bloc {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 9;
    grid-row-end: 11;
    text-align: center;
    overflow-y: scroll;
    margin-top: 15px;
  }
  #win,
  #lose {
    width: 90px;
  }
  #winLose {
    justify-content: space-around;
  }
}
